// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$noob-app-primary: mat.define-palette(mat.$deep-purple-palette);
$noob-app-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$noob-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$noob-app-theme: mat.define-light-theme((
        color: (
                primary: $noob-app-primary,
                accent: $noob-app-accent,
                warn: $noob-app-warn,
        )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($noob-app-theme);

mat-toolbar {
  background-color: #6200ee !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.app-title {
  margin-left: 32px;
  flex: 1 0 auto;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #6200ee;
}

mat-sidenav {
  width: 360px;
  background-color: #6200ee !important;
  border: none !important;
}

.mat-drawer-container {
  background-color: #6200ee !important;
}

mat-sidenav-content {
  min-height: 100vh;
  overflow: hidden !important;
}

* {
  box-sizing: border-box;
}

header {
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  /*  backdrop-filter: saturate(50%) blur(20px);
    background: rgba(255,255,255,0.88);
    box-shadow: 0 1px 0 rgb(0 0 0 / 5%), 0 1px 3px rgb(0 0 0 / 7%), inset 0 1px 1px rgb(255 255 255 / 45%);*/
}

header:after {
  // content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 400px;
  background: linear-gradient(#749fe138, #6200ee00);
  // background: linear-gradient(#4305cf, #42036a);
  // background: linear-gradient(#6200ee, #300968);
  // background: linear-gradient(#390f6a, #6722c7); // purple
  z-index: -1;
}

header .start {
  display: flex;
  align-items: center;
}

.start .logo {
  position: absolute;
  margin-right: 24px;
}

.start .logo img {
  display: flex;
  width: 64px;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.start {
  width: 100%;
}

.start a {
  font-size: 10px;
  font-weight: 400;
  padding: 0 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.72);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.start a.active {
  font-weight: 500;
  color: black;
}

.center {
  // flex: 1 0 auto;
}

.avatar-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 24px;
  height: 24px;
}

mat-toolbar-row:last-child {
  display: block;
}

form {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  margin-left: 32px;
}

::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

.search-input {
  padding: 0;
  background: none;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  height: 56px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

mat-nav-list {
  width: 100% !important;
  padding-top: 0 !important;
}

.mat-list-item {
  height: 40px !important;
  color: #fff !important;
  border-radius: 4px;
  font-size: 14px !important;
  line-height: 16px !important;
  font-weight: 400 !important;
  margin-top: 8px;

  mat-icon {
    color: #b68af7;
    margin-right: 32px !important;
  }
}

.mat-list-item.active {
  background-color: #873df2;
  font-weight: 500 !important;

  mat-icon {
    color: #fff;
  }
}

main {
  background-color: #fff;
  border-radius: 16px 16px 0 0;
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
  // height: 100%;
  padding: 0 16px;
  padding-bottom: 64px;
  overflow: auto;
  transition: transform 250ms;
  transition-timing-function: ease-out;
  will-change: transform;
}

.toolbar-opened {
  height: 128px;
}

.main-opened {
  // top: 360px;
  transform: translateY(calc(100% - 48px));
  transition: transform 200ms;
  transition-timing-function: ease-in;
}

@media (max-width: 599px) {
  main {
    top: 56px;
  }
}

.shelf {
  padding-bottom: 24px;
}

.shelf-title {
  height: 64px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0 !important;

  span {
    flex: 1 0 auto;
  }

  /*  font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;*/
}

.networks {
  display: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 24px;

  .network-item {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16 / 9;

    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

    img {
      display: flex;
      max-width: 100%;
    }
  }
}

.slider-test {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px 16px;

  .slider-item {
    // display: flex;
    grid-gap: 24px;
  }

  .img-shadow {
    /* border-radius: 4px;
     overflow: hidden;*/
    background-color: rgba(0, 0, 0, 0.04);
    aspect-ratio: 2 / 3;
    border-radius: 4px;
  }

  .slider-item img {
    display: flex;
    width: 100%;
    // width: 64px;
    border-radius: 4px;
    // opacity: 0;
    transition: ease-out 400ms;
  }

  .item-info {
    display: none;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin-right: -16px;
  }

  .item-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-top: 8px;
  }

  .runtime {
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .score {
    font-size: 20px;
    line-height: 32px;
    color: #6200ee;
    font-weight: 500;
  }
}

.filter-title {
  font-size: 14px;
  font-weight: 400;
  margin-left: 16px;
  line-height: 20px;
  margin: 8px 16px;
}

.mat-chip-list-wrapper {
  flex-wrap: nowrap !important;
}

.mat-chip {
  background-color: rgba(255, 255, 255, 0.12) !important;
  color: #fff !important;
  font-weight: 400;
}