<!--<div class="shelf">
    <h6 class="shelf-title">KANALLAR</h6>
    <div class="networks">
        <div class="network-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Pixar.svg/1280px-Pixar.svg.png"
                 alt="">
        </div>
        <div class="network-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Disney_wordmark.svg/1024px-Disney_wordmark.svg.png"
                 alt="">
        </div>
        <div class="network-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/2560px-Marvel_Logo.svg.png"
                 alt="">
        </div>
        <div class="network-item">
            <img src="https://cdn.worldvectorlogo.com/logos/star-wars.svg" alt="">
        </div>
        <div class="network-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/National-Geographic-Logo.svg/1280px-National-Geographic-Logo.svg.png"
                 alt="">
        </div>
        <div class="network-item">
            <img src="https://logowik.com/content/uploads/images/looney-tunes1999.jpg" alt="">
        </div>
    </div>
</div>-->
<div class="shelf">
    <h3 class="shelf-title">


<!--        <button mat-button>
            <span>Filmler</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>-->

        <span>Filmler</span>
     <!--   <button mat-icon-button>
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>-->
    </h3>
    <div class="slider-test">
        <div class="slider-item">
            <div class="img-shadow" routerLink="/movie">
                <img src="https://is2-ssl.mzstatic.com/image/thumb/Video122/v4/59/62/0a/59620a35-fcb1-8797-fca5-d0652c409954/source/600x600bb.jpg"
                     alt="">
            </div>

            <div class="item-title">Mulan</div>
            <div class="runtime">1998 - 88 DK</div>

            <div class="item-info">
                <div class="item-title">Mulan</div>
                <div class="runtime">1998 - 88 DK</div>
                <div class="score">8.0</div>
                <!--           <button mat-button>
                               <mat-icon>bookmark_add</mat-icon>
                               İZLEME LİSTESİNE EKLE
                           </button>-->
            </div>
        </div>
        <div class="slider-item">
            <div class="img-shadow">
                <img src="https://is2-ssl.mzstatic.com/image/thumb/Video118/v4/24/6a/af/246aaf15-b597-9f3c-caf0-56b49db0b55b/contsched.fvrpuldz.lsr/2000x3000.jpg"
                     alt="">
            </div>
            <div class="item-title">Fight Club</div>
            <div class="runtime">1999 - 139 DK</div>

            <div class="item-info">
                <div class="item-title">The Incredibles</div>
                <div class="runtime">1998 - 88 DK</div>
                <div class="score">8.0</div>
            </div>
        </div>
        <div class="slider-item">
            <div class="img-shadow">
                <img src="https://is5-ssl.mzstatic.com/image/thumb/Video18/v4/92/d7/ff/92d7ff88-c1f3-074f-6f32-98486b6b0e89/source/600x600bb.jpg"
                     alt="">
            </div>

            <div class="item-title">The Incredibles</div>
            <div class="runtime">1998 - 88 DK</div>

            <div class="item-info">
                <div class="runtime">1998 - 88 DK</div>
                <div class="score">8.0</div>
            </div>
        </div>
        <div class="slider-item">
            <div class="img-shadow">
                <img src="https://is5-ssl.mzstatic.com/image/thumb/Video49/v4/44/8a/0d/448a0d6d-8449-e965-c793-5ba2924fc529/pr_source.lsr/1000x1000.jpg"
                     alt="">
            </div>

            <div class="item-title">Big Hero 6</div>
            <div class="runtime">1998 - 88 DK</div>

            <div class="item-info">
                <div class="runtime">1998 - 88 DK</div>
                <div class="score">8.0</div>
            </div>
        </div>

        <div class="slider-item">
            <div class="img-shadow">
                <img src="https://is1-ssl.mzstatic.com/image/thumb/Video113/v4/32/4c/b7/324cb761-a8e1-7045-fdf9-a09445472ab0/pr_source.lsr/1000x1000.jpg"
                     alt="">
            </div>

            <div class="item-title">Wreck-it Ralph</div>
            <div class="runtime">1998 - 88 DK</div>

            <div class="item-info">
                <div class="runtime">1998 - 88 DK</div>
                <div class="score">8.0</div>
            </div>
        </div>


        <div class="slider-item">
            <div class="img-shadow">
                <img src="https://is2-ssl.mzstatic.com/image/thumb/Music/68/cb/ed/mzi.wnlbtgvc.jpg/1333x2000.jpg"
                     alt="">
            </div>

            <div class="item-title">Picture Perfect</div>
            <div class="runtime">1998 - 88 DK</div>

            <div class="item-info">
                <div class="runtime">1998 - 88 DK</div>
                <div class="score">8.0</div>
            </div>
        </div>

    </div>
</div>

