<div class="img-background">
    <img src="https://is5-ssl.mzstatic.com/image/thumb/Video123/v4/a3/ca/56/a3ca56ae-acc6-ab72-d6d3-91d36e12ade6/DIS_MULAN_WW_ARTWORK_EN-US_3840x2160_1O4RDU000000CI.lsr/3840x2160.jpg"
         alt="">
</div>

<h1 class="mat-h1">Dövüş Kulübü</h1>
<button mat-raised-button color="primary">Şimdi İzle</button>

<div class="buttons">
    <button matRipple>
        <mat-icon>play_arrow</mat-icon>
        <span>Fragman</span>
    </button>
    <button matRipple>
        <mat-icon>download</mat-icon>
        <span>İndir</span>
    </button>
    <button matRipple>
        <mat-icon>add</mat-icon>
        <span>Kaydet</span>
    </button>
    <button matRipple>
        <mat-icon>more_vert</mat-icon>
        <span>Kaydet</span>
    </button>
</div>